body
{
    background-image: url("https://wallpaperaccess.com/full/1567674.jpg");
     background-color: #cccccc;
     font-family: "Trebuchet MS", Helvetica, sans-serif; 
}
.card{
    margin-left: 10px;
    width: 400px;
    display: inline-block;
}
.cc{
    text-align: center;
}